In [1]:
# Pip install method (recommended)
!pip install --default-timeout=100 ultralytics

Requirement already satisfied: ultralytics in c:\users\asus\anaconda3\lib\site-packages (8.0.98)
Requirement already satisfied: matplotlib>=3.2.2 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (3.6.3)
Requirement already satisfied: Pillow>=7.1.2 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (9.4.0)
Requirement already satisfied: scipy>=1.4.1 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (1.9.3)
Requirement already satisfied: psutil in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (5.8.0)
Requirement already satisfied: opencv-python>=4.6.0 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (4.7.0.72)
Requirement already satisfied: pandas>=1.1.4 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (1.5.3)
Requirement already satisfied: PyYAML>=5.3.1 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (6.0)
Requirement already satisfied: torch>=1.7.0 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (2.0.1)
Requirement already satisfied: torchvision>=0.8.1 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (0.15.2)
Requirement already satisfied: thop>=0.1.1 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (0.1.1.post2209072238)
Requirement already satisfied: tqdm>=4.64.0 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (4.65.0)
Requirement already satisfied: requests>=2.23.0 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (2.27.1)
Requirement already satisfied: sentry-sdk in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (1.22.2)
Requirement already satisfied: seaborn>=0.11.0 in c:\users\asus\anaconda3\lib\site-packages (from ultralytics) (0.12.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->ultralytics) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->ultralytics) (1.3.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->ultralytics) (1.0.7)
Requirement already satisfied: numpy>=1.19 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->ultralytics) (1.23.5)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->ultralytics) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->ultralytics) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->ultralytics) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\asus\anaconda3\lib\site-packages (from matplotlib>=3.2.2->ultralytics) (23.0)
Requirement already satisfied: six in c:\users\asus\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.2.2->ultralytics) (1.12.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus\anaconda3\lib\site-packages (from pandas>=1.1.4->ultralytics) (2021.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.23.0->ultralytics) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.23.0->ultralytics) (1.26.15)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.23.0->ultralytics) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\asus\anaconda3\lib\site-packages (from requests>=2.23.0->ultralytics) (2.10)
Requirement already satisfied: sympy in c:\users\asus\anaconda3\lib\site-packages (from torch>=1.7.0->ultralytics) (1.9)
Requirement already satisfied: jinja2 in c:\users\asus\anaconda3\lib\site-packages (from torch>=1.7.0->ultralytics) (2.11.3)
Requirement already satisfied: networkx in c:\users\asus\anaconda3\lib\site-packages (from torch>=1.7.0->ultralytics) (2.6.3)
Requirement already satisfied: typing-extensions in c:\users\asus\anaconda3\lib\site-packages (from torch>=1.7.0->ultralytics) (4.5.0)
Requirement already satisfied: filelock in c:\users\asus\anaconda3\lib\site-packages (from torch>=1.7.0->ultralytics) (3.3.1)
Requirement already satisfied: colorama in c:\users\asus\anaconda3\lib\site-packages (from tqdm>=4.64.0->ultralytics) (0.4.6)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\asus\anaconda3\lib\site-packages (from jinja2->torch>=1.7.0->ultralytics) (1.1.1)
Requirement already satisfied: mpmath>=0.19 in c:\users\asus\anaconda3\lib\site-packages (from sympy->torch>=1.7.0->ultralytics) (1.2.1)

In [2]:
import os
HOME = os.getcwd()
print(HOME)

C:\Users\ASUS\code\src\content

In [3]:
!nvidia-smi

Mon Jun 19 09:03:09 2023
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 399.24                 Driver Version: 399.24                    |
|-------------------------------+----------------------+----------------------+
| GPU  Name            TCC/WDDM | Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|===============================+======================+======================|
|   0  GeForce 920M       WDDM  | 00000000:01:00.0 N/A |                  N/A |
| N/A   43C    P8    N/A /  N/A |     38MiB /  2048MiB |     N/A      Default |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                       GPU Memory |
|  GPU       PID   Type   Process name                             Usage      |
|=============================================================================|
|    0                    Not Supported                                       |
+-----------------------------------------------------------------------------+

In [4]:
from IPython import display
display.clear_output()

import ultralytics
ultralytics.checks()

Ultralytics YOLOv8.0.98  Python-3.9.7 torch-2.0.1+cpu CPU
Setup complete  (4 CPUs, 15.9 GB RAM, 121.1/232.2 GB disk)

In [5]:
from ultralytics import YOLO

from IPython.display import display, Image

In [6]:
model = YOLO(f'C:/Users/ASUS/code/src/content/runs/content/runs/detect/train/weights/best.pt')
results=model.predict(source='C:/Users/ASUS/code/src/content/datasets/content/datasets/train/images/cv13_page-0001.jpg', conf=0.8)

image 1/1 C:\Users\ASUS\code\src\content\datasets\content\datasets\train\images\cv13_page-0001.jpg: 800x576 1 competance, 1 langues, 1 centre, 1 contact, 729.5ms
Speed: 11.2ms preprocess, 729.5ms inference, 10.0ms postprocess per image at shape (1, 3, 800, 800)

In [7]:
results[0].boxes.xyxy

tensor([[   7.3196,  841.4520,  406.6546, 1452.9718],
        [  12.5884, 1457.3173,  398.6509, 1650.9364],
        [   5.5708,  406.5008,  418.6696,  633.4506],
        [   6.5817,  642.2875,  417.6177,  834.7217]])

In [8]:
results[0].boxes.conf

tensor([0.9486, 0.9378, 0.9279, 0.9176])

In [9]:
results[0].boxes.cls

tensor([1., 5., 6., 4.])

In [10]:
import os
import cv2
import pytesseract
import pandas as pd
import numpy as np
from IPython.display import display, Image, clear_output
from ultralytics import YOLO

def extract_values2(img_path, save_path, name, bboxes, probs, names):
    img = cv2.imread(img_path)
    img2 = img.copy()
    
    class_names = {0: 'profile', 1: 'competance', 2: 'experience_professionnelle', 3: 'formation', 4: 'langues', 5: 'centre', 6: 'Contact'}
    dicts = {0: {}, 1: {}, 2: {}, 3: {}, 4: {}, 5: {}, 6: {}}
    
    df = pd.DataFrame(columns=['profile', 'competance', 'experience_professionnelle', 'formation', 'langues', 'centre', 'Contact'])  # Create an empty DataFrame with specified columns
    
    for box, prob, index in zip(bboxes, probs.tolist(), names):
        class_dict = dicts[int(index)]
        class_dict[prob] = box

    for index, class_dict in dicts.items():
        if len(class_dict) != 0:
            max_prob = max(class_dict.keys())
            box = class_dict[max_prob]
            x1, y1, x2, y2 = box
            x1, y1, x2, y2 = int(x1), int(y1), int(x2), int(y2)

            cv2.rectangle(img, (x1, y1), (x2, y2), (0, 0, 255), 2)
            cropped_image = img2[y1:y2, x1:x2]

            folder_path = class_names[index]
            if not os.path.exists(os.path.join(save_path, folder_path)):
                os.makedirs(os.path.join(save_path, folder_path))
                
            file_path = os.path.join(save_path, folder_path, f"{name.split('.')[0]}-{index}.jpg")
            cv2.imwrite(file_path, cropped_image)
            print(file_path)
            
            # Extract the text from the box using Tesseract
            text = pytesseract.image_to_string(cropped_image)
            # Add the box name and text to the DataFrame
            #df.at[0, folder_path] = text
            df.at[0, folder_path] = text if text else None

    # Save the DataFrame to CSV
    df.to_csv('my_dataframe.csv', index=False)
    
    return df

clear_output()

model = YOLO('C:/Users/ASUS/code/src/content/runs/content/runs/detect/train/weights/best.pt')
results = model.predict(source='C:/Users/ASUS/code/src/content/datasets/content/datasets/train/images/cv14_page-0001.jpg', conf=0.8)

img_path = "C:/Users/ASUS/code/src/content/datasets/content/datasets/train/images/cv14_page-0001.jpg"
#img_path = "C:/Users/ASUS/code/src/content/datasets/content/datasets/train/images/inbound1315652106390704018_page-0001.jpg"
save_path = "C:/Users/ASUS/code/src/content/output/content/output"
name = "cv14_page-0001.jpg"
#name = "inbound1315652106390704018_page-0001.jpg"
bboxes = results[0].boxes.xyxy  # les coordonnées des boîtes englobantes
probs = results[0].boxes.conf  # les confiances des prédictions
names = results[0].boxes.cls   # les classes des prédictions

extract_values2(img_path, save_path, name, bboxes, probs, names)

image 1/1 C:\Users\ASUS\code\src\content\datasets\content\datasets\train\images\cv14_page-0001.jpg: 800x576 1 profile, 1 experience, 1 formation, 1 langues, 1 contact, 780.9ms
Speed: 11.0ms preprocess, 780.9ms inference, 2.0ms postprocess per image at shape (1, 3, 800, 800)

C:/Users/ASUS/code/src/content/output/content/output\profile\cv14_page-0001-0.jpg
C:/Users/ASUS/code/src/content/output/content/output\experience_professionnelle\cv14_page-0001-2.jpg
C:/Users/ASUS/code/src/content/output/content/output\formation\cv14_page-0001-3.jpg
C:/Users/ASUS/code/src/content/output/content/output\langues\cv14_page-0001-4.jpg
C:/Users/ASUS/code/src/content/output/content/output\Contact\cv14_page-0001-6.jpg

,profile,competance,experience_professionnelle,formation,langues,centre,Contact
0,"PROFIL\n\nActuellement, étudiant en 3eme année...",NaN,"EXPERIENCES PROFESSIONNELLES\n\nStagiaire, Ara...",EDUCATION\n\nIngénierie en Intelligence Artifi...,LANGUES\nArabe\nFrancais\nAnglais\n\nAllemand\...,NaN,Aloulou Karim\nEtudiant en ingénierie en IA\n\...

In [ ]:
##Lowercase

In [12]:
import pandas as pd
import re

# Read the CSV file into a DataFrame
df = pd.read_csv("my_dataframe.csv")

# Clean and preprocess the DataFrame
df = df.apply(lambda x: x.astype(str).str.lower().str.strip() if x.dtype == "object" else x)

# Remove '\n' and '\r' characters by replacing them with whitespace
df = df.replace({'\n': ' ', '\r': ' '}, regex=True)

# Sort all string columns
for col in df.columns:
    if df[col].dtype == "object":
        df[col] = df[col].sort_values()

# Display the cleaned and sorted DataFrame
print(df)

                                             profile  competance  \
0  profil  actuellement, étudiant en 3eme année c...         NaN

                          experience_professionnelle  \
0  experiences professionnelles  stagiaire, arab ...

                                           formation  \
0  education  ingénierie en intelligence artifici...

                                             langues  centre  \
0  langues arabe francais anglais  allemand  dist...     NaN

                                             Contact
0  aloulou karim etudiant en ingénierie en ia  * ...

In [13]:
##Features_extraction

In [14]:
###Langues

In [15]:
import re

# List of language keywords (including additional languages)
language_keywords = ['francais', 'anglais', 'allemand', 'espagnol', 'italien', 'arab']

# Iterate over the rows in the 'langues' column of the DataFrame
for index, row in df.iterrows():
    text = row['langues']

    # Utilizing regular expression to extract languages
    languages = re.findall(r"\b([A-Za-zéèëêàâîïôùûü]+)\b", text)

    # Normalizing languages to lowercase
    normalized_languages = [language.lower() for language in languages]

    # Selecting languages that match the keywords (case-insensitive)
    selected_languages = [language for language in normalized_languages if language.lower() in [lang.lower() for lang in language_keywords]]

    # Update the 'langues' column with the selected languages
    df.at[index, 'langues'] = selected_languages

In [16]:
df

,profile,competance,experience_professionnelle,formation,langues,centre,Contact
0,"profil actuellement, étudiant en 3eme année c...",NaN,"experiences professionnelles stagiaire, arab ...",education ingénierie en intelligence artifici...,"[francais, anglais, allemand]",NaN,aloulou karim etudiant en ingénierie en ia * ...

In [17]:
#Email and number

In [18]:
import re

# Définition des expressions régulières
phone_regex = r"\b\d{8}\b"
email_regex = r"\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+"

# Texte d'origine dans df['Contact'][0]
text = df['Contact'][0]

# Extraction du numéro de téléphone
phone_number = re.search(phone_regex, text)
phone_number = phone_number.group() if phone_number else ""
df.at[0, 'phone number'] = phone_number

# Extraction de l'email
email = re.search(email_regex, text)
email = email.group() if email else ""
df.at[0, 'email'] = email

# Extraction du profil LinkedIn
linkedin_profile = ""
start_index = text.find("linkedin.com/in/")
if start_index != -1:
    end_index = text.find(" ", start_index)
    if end_index == -1:
        end_index = len(text)
    linkedin_profile = text[start_index:end_index]
df.at[0, 'linkedin'] = linkedin_profile

# Affichage du DataFrame mis à jour
df.to_csv('my_dataframe.csv', index=False)

In [19]:
df=pd.read_csv("my_dataframe.csv")

In [20]:
df['langues'][0]

"['francais', 'anglais', 'allemand']"

In [21]:
##Compétences

In [22]:
technical_skills_list = ['excel','word','java','powerpoint','spring boot', 'Natural Language Processing (NLP)', 
                         'sap crm', 'quikview', 'Communication Skills',
                         'big data analytics', 'Quality Assurance', 'Mobile App Design', 
                         'Java (Android)', 'sap', 'cloud computing', 'bi', 'c++',
                         'Data Science', 'artificial intelligence', 'Networking', 'sql',
                         'mobile app design', 'Push Notifications', 'Big Data Analytics', 
                         'apache hadoop', 'react native', 'Data Warehousing', 'security', 'organisé'
                         'machine learning', 'SAP BW/BI', 'React Native', 'sap', 'it support', 
                         'NoSQL', 'Quikview', 'r', 'aws', 'agile methodology', 'natural language processing (nlp)', 
                         'Flutter', 'testing', 'sap mm', 'AWS', 'Data Government and Testing', 'Cloud Computing', 
                         'data mining', 'SAP S/4HANA', 'troubleshooting', 'docker', 'restful apis', 'scripting', 
                         'Google Cloud', 'data governance and testing', 'SAP MM', 'SAP CRM', 'Python', 'Teamwork', 
                         'java', 'marketing', 'Predictive Modeling', 'mobile ui/ux', 'business intelligence',
                         'database management', 'C++', 'push notifications', 'computer vision', 'data pipeline',
                         'google cloud', 'Data Integration', 'version control', 'mobile', 'advanced analytics', 
                         'IT Support', 'etl (extract, transform, load)', 'front-end frameworks', 'sap sd',
                         'Mobile UI/UX', 'data integration', 'data engineerQuikview', 'statistical analysis', 
                         'Linux/Unix', 'Troubleshooting', 'firebase', 'SAP HANA', 'systems integration', 'python', 
                         'amplitude', 'agiles', 'sap bw/bi', 'apache spark', 'ETL (Extract, Transform, Load)', 
                         'Kotlin (Android)', 'problem solving', 'Google Analytics', 'java (android)', 'Data Pipeline',
                         'sap fiori', 'Data Mining', 'data studio', 'SQL', 'project management', 'SAP', 'Tableau', 
                         'Deep Learning', 'Agile Methodology', 'Front-end Frameworks', 'sap abap', 'sap fico', 
                         'Apache Spark', 'networking', 'Scripting', 'Testing', 'devops', 'Artificial Intelligence',
                         'SAP ABAP', 'objective-c (ios)', 'system administration', 'Objective-C (iOS)', 
                         'Software Development Life Cycle (SDLC)', 'Machine Learning', 'Azure', 'R', 
                         'informatiqueDatabase Management', 'Business Intelligence', 'web', 'data warehousing', 
                         'software development life cycle (sdlc)', 'Advanced Analytics', 'data visualization',
                         'java','angular', 'Apache Hadoop', 'data engineer','sql', 'Amplitude', 'System Administration', 'Git',
                         'Data Visualization', 'Data Studio', 'flutter', 'quality assurance', 'linux/unix', 'SAP ERP', 'swift (ios)', 
                         'sap erp', 'virtualization', 'Project Management', 'communication skills', 'deep learning', 'Technical Design',
                         'back-end frameworks', 'Systems Integration', 'SAP SD', 'google analytics', 'SAP Fiori', 'Statistical Analysis',
                         'sap hana', 'Virtualization', 'Problem Solving', 'data science', 'RESTful APIs', 'Security', 'kotlin (android)', 
                         'predictive modeling', 'Artificiel Intelligence', 'nosql', 'Version Control', 'Data Governance and Testing', 
                         'SAP FICO', 'php', 'git', 'technical design', 'Back-end Frameworks', 'azure', 'teamwork', 'tableau', 
                         'Firebase','Swift (iOS)','la modélisation de données','analyse des données',' désireux','dynamique','rapide','english','anglais',
                         'français',' rigoureux','autonome','data analyst']


# Conversion de la liste en un ensemble (set)
technical_skills_list = list(set(technical_skills_list))

In [23]:
import spacy
from spacy.matcher import Matcher

# Chargement du modèle pré-entraîné en français
nlp = spacy.load('fr_core_news_sm')

# Fonction pour extraire les compétences techniques du texte
def extract_technical_skills(text):
    if text.strip() == "":
        return None
    
    doc = nlp(text)
    matcher = Matcher(nlp.vocab)
    skills = []

    # Créer des motifs pour chaque compétence technique
    patterns = [[{"LOWER": skill}] for skill in technical_skills_list]

    # Ajouter les motifs au matcher
    matcher.add("TechnicalSkills", patterns)

    # Trouver les correspondances dans le texte
    matches = matcher(doc)

    # Extraire les compétences techniques
    for match_id, start, end in matches:
        skills.append(doc[start:end].text)

    return skills

# Convertir les valeurs de la colonne 'competance' en chaînes de caractères
df['competance'] = df['competance'].astype(str)

# Appliquer la fonction à la colonne 'competance'
df['competance'] = df['competance'].apply(extract_technical_skills)

In [24]:
df['competance'][0]

[]

In [25]:
##Profile

In [26]:
import spacy

def extract_profile(text):
    nlp = spacy.load("fr_core_news_sm")
    doc = nlp(text)
    profile = ""
    
    for sent in doc.sents:
        if "actuellement" in sent.text.lower():
            profile = sent.text
            break
    
    return profile

# Exemple d'utilisation
text = df['profile'][0]
profile = extract_profile(text)
print(profile)

profil  actuellement, étudiant en 3eme année cycle ingénieur en informatique, spécialité ia a esprit.

In [27]:
df['Contact'][0]

'aloulou karim etudiant en ingénierie en ia  *  4 karim.aloulou@esprit.tn , 20107299 4 17/08/2001  in https://www.linkedin.com/in/karim-aloulou- 838459241/  q https://github.com/karim-aloulou'

In [28]:
df

,profile,competance,experience_professionnelle,formation,langues,centre,Contact,phone number,email,linkedin
0,"profil actuellement, étudiant en 3eme année c...",[],"experiences professionnelles stagiaire, arab ...",education ingénierie en intelligence artifici...,"['francais', 'anglais', 'allemand']",NaN,aloulou karim etudiant en ingénierie en ia * ...,20107299,karim.aloulou@esprit.tn,linkedin.com/in/karim-aloulou-

In [29]:
import pandas as pd
import numpy as np
def replace_empty_with_none(df):
    # Iterate over each column in the DataFrame
    for column in df.columns:
        # Check if the column has empty values
        if df[column].empty or df[column].dtype == None:
            # Replace empty values with None
            df[column] = df[column].replace(np.nan, None)
    return df

# Replace empty values with None
new_df = replace_empty_with_none(df)
def another_function():
    new_df = replace_empty_with_none(df)
    return new_df

# Print the modified DataFrame
print(new_df)

                                             profile competance  \
0  profil  actuellement, étudiant en 3eme année c...         []

                          experience_professionnelle  \
0  experiences professionnelles  stagiaire, arab ...

                                           formation  \
0  education  ingénierie en intelligence artifici...

                               langues centre  \
0  ['francais', 'anglais', 'allemand']   None

                                             Contact  phone number  \
0  aloulou karim etudiant en ingénierie en ia  * ...      20107299

                     email                        linkedin
0  karim.aloulou@esprit.tn  linkedin.com/in/karim-aloulou-

In [30]:
new_df

,profile,competance,experience_professionnelle,formation,langues,centre,Contact,phone number,email,linkedin
0,"profil actuellement, étudiant en 3eme année c...",[],"experiences professionnelles stagiaire, arab ...",education ingénierie en intelligence artifici...,"['francais', 'anglais', 'allemand']",None,aloulou karim etudiant en ingénierie en ia * ...,20107299,karim.aloulou@esprit.tn,linkedin.com/in/karim-aloulou-

In [31]:
df

,profile,competance,experience_professionnelle,formation,langues,centre,Contact,phone number,email,linkedin
0,"profil actuellement, étudiant en 3eme année c...",[],"experiences professionnelles stagiaire, arab ...",education ingénierie en intelligence artifici...,"['francais', 'anglais', 'allemand']",None,aloulou karim etudiant en ingénierie en ia * ...,20107299,karim.aloulou@esprit.tn,linkedin.com/in/karim-aloulou-

In [33]:
df = df.astype(str)

In [39]:
df['competance'][0]=None

In [41]:
df.to_csv('Finaloutput.csv', index=False)

In [40]:
df

,profile,competance,experience_professionnelle,formation,langues,centre,Contact,phone number,email,linkedin,competence
0,"profil actuellement, étudiant en 3eme année c...",None,"experiences professionnelles stagiaire, arab ...",education ingénierie en intelligence artifici...,"['francais', 'anglais', 'allemand']",None,aloulou karim etudiant en ingénierie en ia * ...,20107299,karim.aloulou@esprit.tn,linkedin.com/in/karim-aloulou-,None

In [ ]:
#Save to Database

In [ ]:
import pyodbc
import configparser
# Load the config file
config = configparser.ConfigParser()
config.read('../../config.ini')
cnxn_table = (
    "Driver={"+config['Database']['Driver']+"};"
    "Server="+config['Database']['Server']+";"
    "Database="+config['Database']['Database']+";"
    "Trusted_Connection="+config['Database']['Trusted_Connection']+";")
print(cnxn_table)
# Establish a database connection
connection_table = pyodbc.connect(cnxn_table)
print("successfully")

In [ ]:
df.columns

In [ ]:
# Création de la table CV avec toutes les colonnes nécessaires si elle n'existe pas déjà
cursor.execute('CREATE TABLE CV (CV_id INT IDENTITY(1,1) PRIMARY KEY,'
               'Profil NVARCHAR(max), '
               'Competences NVARCHAR(max), '
               'Experiences_Professionnelles NVARCHAR(max), '
               'Formation NVARCHAR(max), '
               'Langues NVARCHAR(max), '
               'Centre NVARCHAR(max), '
               'Contact NVARCHAR(max), '
               'Phone_Number NVARCHAR(20), '
               'Email NVARCHAR(50), '
               'LinkedIn NVARCHAR(255))')

In [ ]:
import pyodbc

# Connexion à la base de données
connection_table = pyodbc.connect(cnxn_table)

# Activation de l'autocommit pour valider automatiquement les transactions
connection_table.autocommit = True

# Création d'un curseur pour exécuter les commandes SQL
cursor = connection_table.cursor()

# Itération sur les lignes de la DataFrame et insertion de nouvelles lignes dans la table
for index, row in df.iterrows():
    Profil = row['profile'] 
    Competences = row['competance']
    Experiences_Professionnelles = row['experience_professionnelle']
    Formation = row['formation']
    Langues = row['langues']
    Centre = row['centre']
    Contact = row['Contact']
    Phone_Number = row['phone number'] 
    Email = row['email']
    LinkedIn = row['linkedin']
        # Insertion d'une nouvelle ligne dans la table CV avec toutes les colonnes
    cursor.execute('INSERT INTO CV (Profil, Competences, Experiences_Professionnelles, Formation, Langues, Centre, Contact, Phone_Number, Email, LinkedIn) '
        'VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)',
    (Profil, Competences, Experiences_Professionnelles, Formation, Langues, Centre, Contact, Phone_Number, Email, LinkedIn))

# Validation de la transaction et fermeture du curseur et de la connexion
connection_table.commit()
cursor.close()
connection_table.close()

In [ ]:
# Set autocommit to True to automatically commit changes to the database
connection_table.autocommit = True

# Create a cursor object to execute SQL commands
cursor = connection_table.cursor()

# Iterate over the rows of the DataFrame and insert new rows into the table
for index, row in df.iterrows():
    profil = row['profil']
    Mail = row['Mail']
    nom = row['nom']
    prenom = row['prenom']
    date_de_naissance = row['date_de_naissance']
    competences = row['competences']
    experiences = row['experiences']
    formation = row['formation']
    langues = row['langues']
    centres_dinteret = row['centres_dinteret']
    contact = row['contact']
    
    # Insert a new row into the CV table
    cursor.execute('INSERT INTO CV (profil, Mail, nom, prenom, date_de_naissance, competences, experiences, formation, langues, centres_dinteret, contact) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)', profil, Mail, nom, prenom, date_de_naissance, competences, experiences, formation, langues, centres_dinteret, contact)

# Commit the transaction and close the cursor and connection
connection_table.commit()
cursor.close()
connection_table.close()

In [1]:
import pandas as pd
import numpy as np

def replace_nan_with_none(df):
    df.replace({np.nan: None}, inplace=True)

In [12]:
import os
import cv2
import pytesseract
import pandas as pd
import numpy as np
import re
import pyodbc
import configparser
import spacy
from spacy.matcher import Matcher
from ultralytics import YOLO


def replace_empty_with_none(df):
    # Iterate over each column in the DataFrame
    for column in df.columns:
        # Check if the column has empty values
        if df[column].empty or df[column].dtype == None:
            # Replace empty values with None
            df[column] = df[column].replace(np.nan, None)
    return df


class CVAnalyzer:
    def __init__(self):
        self.model = None
        self.nlp = spacy.load("fr_core_news_sm")

    def load_yolo_model(self, model_path):
        self.model = YOLO(model_path)

    def get_predictions(self, image_path, confidence):
        img = cv2.imread(image_path)
        results = self.model.predict(source=img, conf=confidence)
        return results

    def extract_values_from_image(self, img_path, save_path, name, bboxes, probs, names):
        img = cv2.imread(img_path)
        img2 = img.copy()
        class_names = {
            0: 'profile',
            1: 'competance',
            2: 'experience_professionnelle',
            3: 'formation',
            4: 'langues',
            5: 'centre',
            6: 'Contact'
        }
        dicts = {0: {}, 1: {}, 2: {}, 3: {}, 4: {}, 5: {}, 6: {}}
        df = pd.DataFrame(columns=['profile', 'competance', 'experience_professionnelle', 'formation', 'langues', 'centre', 'Contact'])

        for box, prob, index in zip(bboxes, probs.tolist(), names):
            class_dict = dicts[int(index)]
            class_dict[prob] = box

        for index, class_dict in dicts.items():
            if len(class_dict) != 0:
                max_prob = max(class_dict.keys())
                box = class_dict[max_prob]
                x1, y1, x2, y2 = box
                x1, y1, x2, y2 = int(x1), int(y1), int(x2), int(y2)
                cv2.rectangle(img, (x1, y1), (x2, y2), (0, 0, 255), 2)
                cropped_image = img2[y1:y2, x1:x2]
                folder_path = class_names[index]
                if not os.path.exists(os.path.join(save_path, folder_path)):
                    os.makedirs(os.path.join(save_path, folder_path))
                file_path = os.path.join(save_path, folder_path, f"{name.split('.')[0]}-{index}.jpg")
                cv2.imwrite(file_path, cropped_image)
                print(file_path)
                text = pytesseract.image_to_string(cropped_image)
                df.at[0, folder_path] = text if text else None

        df.to_csv('my_dataframe.csv', index=False)
        return df

    def clean_and_sort_dataframe(self, csv_file):
        df = pd.read_csv(csv_file)
        df = df.apply(lambda x: x.astype(str).str.lower().str.strip() if x.dtype == "object" else x)
        df = df.replace({'\n': ' ', '\r': ' '}, regex=True)
        for col in df.columns:
            if df[col].dtype == "object":
                df[col] = df[col].sort_values()
        print(df)
        return df

    def extract_languages_from_dataframe(self, df, language_keywords):
        for index, row in df.iterrows():
            text = row['langues']
            languages = re.findall(r"\b([A-Za-zéèëêàâîïôùûü]+)\b", text)
            normalized_languages = []
            for language in languages:
                for keyword in language_keywords:
                    if keyword.lower() in language.lower():
                        normalized_languages.append(keyword)
            df.at[index, 'langues'] = ', '.join(normalized_languages) if normalized_languages else None
        print(df)

    def extract_contact_info(self, df):
        # Définition des expressions régulières
        phone_regex = r"\b\d{8}\b"
        email_regex = r"\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+"

        for index, row in df.iterrows():
            # Texte d'origine dans df['Contact']
            text = row['Contact']
            # Extraction du numéro de téléphone
            phone_number = re.search(phone_regex, text)
            phone_number = phone_number.group() if phone_number else ""
            df.at[index, 'phone number'] = phone_number

            # Extraction de l'email
            email = re.search(email_regex, text)
            email = email.group() if email else ""
            df.at[index, 'email'] = email

            # Extraction du profil LinkedIn
            linkedin_profile = ""
            start_index = text.find("linkedin.com/in/")
            if start_index != -1:
                end_index = text.find(" ", start_index)
                if end_index == -1:
                    end_index = len(text)
                linkedin_profile = text[start_index:end_index]
            df.at[index, 'linkedin'] = linkedin_profile
        return df

    def extract_profile(self, text):
        doc = self.nlp(text)
        profile = ""
        for sent in doc.sents:
            if "actuellement" in sent.text.lower():
                profile = sent.text
                break
        return profile

    def replace_empty_with_none(self, df):
        # Iterate over each column in the DataFrame
        for column in df.columns:
            # Check if the column has empty values
            if df[column].empty or df[column].dtype == None:
                # Replace empty values with None
                df[column] = df[column].replace(np.nan, None)
        return df

    def apply_extraction(self, df):
        df["extracted_profile"] = df["profile"].apply(self.extract_profile)
        return df

    def replace(self, df):
        new_df = replace_empty_with_none(df)
        return new_df

    def save_in_database(self, df):
        # Load the config file
        config = configparser.ConfigParser()
        config.read('../../config.ini')
        cnxn_table = (
            "Driver={" + config['Database']['Driver'] + "};"
            "Server=" + config['Database']['Server'] + ";"
            "Database=" + config['Database']['Database'] + ";"
            "Trusted_Connection=" + config['Database']['Trusted_Connection'] + ";")
        print(cnxn_table)
        # Establish a database connection
        connection_table = pyodbc.connect(cnxn_table)
        print("successfully")
        # Connexion à la base de données
        connection_table = pyodbc.connect(cnxn_table)

        # Activation de l'autocommit pour valider automatiquement les transactions
        connection_table.autocommit = True

        # Création d'un curseur pour exécuter les commandes SQL
        cursor = connection_table.cursor()
        # Itération sur les lignes de la DataFrame et insertion de nouvelles lignes dans la table
        for index, row in df.iterrows():
            Profil = row['profile']
            Competences = row['competance']
            Experiences_Professionnelles = row['experience_professionnelle']
            Formation = row['formation']
            Langues = row['langues']
            Centre = row['centre']
            Contact = row['Contact']
            Phone_Number = row['phone number']
            Email = row['email']
            LinkedIn = row['linkedin']
            cursor.execute('SELECT CV_id FROM CV WHERE Profil = ?  AND Competences = ?', Profil, Competences)
            CV_id = cursor.fetchone()
            CV_id = cursor.execute('SELECT @@IDENTITY').fetchone()[0]
            # Insertion d'une nouvelle ligne dans la table CV avec toutes les colonnes
            cursor.execute('INSERT INTO CV (Profil, Competences, Experiences_Professionnelles, Formation, Langues, Centre, Contact, Phone_Number, Email, LinkedIn) '
                           'VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?)',
                           (Profil, Competences, Experiences_Professionnelles, Formation, Langues, Centre, Contact,
                            Phone_Number, Email, LinkedIn))
        # Validation de la transaction et fermeture du curseur et de la connexion
        connection_table.commit()
        cursor.close()
        connection_table.close()
# Configuration
config = configparser.ConfigParser()
config.read('../../config.ini')
model_path = config['MODEL']['Path']
analyzer = CVAnalyzer()
analyzer.load_yolo_model(model_path)

# Saisie du chemin de l'image et du nom dans le terminal
image_path = input("Entrez le chemin de l'image : ")
image_name = input("Entrez le nom de l'image : ")

try:
    results = analyzer.get_predictions(image_path, confidence=0.8)
    bboxes = results[0].boxes.xyxy  # les coordonnées des boîtes englobantes
    probs = results[0].boxes.conf  # les confiances des prédictions
    names = results[0].boxes.cls 

    # Extraction des valeurs de l'image et création de la DataFrame
    df = analyzer.extract_values_from_image(image_path, 'C:/Users/ASUS/code/src/content/output/content/output', image_name, bboxes, probs, names)
    df = analyzer.clean_and_sort_dataframe('my_dataframe.csv')
    language_keywords = ['francais', 'anglais', 'allemand', 'espagnol', 'italien', 'arab']
    analyzer.extract_languages_from_dataframe(df, language_keywords)
    df = analyzer.extract_contact_info(df)
    df = analyzer.apply_extraction(df)
    new_df = analyzer.replace(df)

    # Sauvegarde de la DataFrame modifiée dans la base de données
    try:
        analyzer.save_in_database(new_df)
        print("Data saved to the database successfully.")
    except pyodbc.Error:
        print("Failed to save data to the database. Please check the database connection.")
except FileNotFoundError:
    print("Image not found. Please provide a valid image path.")
except Exception as e:
    print("An error occurred:", str(e))

Entrez le chemin de l'image :  C:/Users/ASUS/code/src/content/datasets/content/datasets/train/images/cv14_page-0001.jpg
Entrez le nom de l'image :  cv14_page-0001.jpg

0: 800x576 1 profile, 1 experience, 1 formation, 1 langues, 1 contact, 532.7ms
Speed: 13.0ms preprocess, 532.7ms inference, 0.0ms postprocess per image at shape (1, 3, 800, 800)

C:/Users/ASUS/code/src/content/output/content/output\profile\cv14_page-0001-0.jpg
C:/Users/ASUS/code/src/content/output/content/output\experience_professionnelle\cv14_page-0001-2.jpg
C:/Users/ASUS/code/src/content/output/content/output\formation\cv14_page-0001-3.jpg
C:/Users/ASUS/code/src/content/output/content/output\langues\cv14_page-0001-4.jpg
C:/Users/ASUS/code/src/content/output/content/output\Contact\cv14_page-0001-6.jpg
                                             profile  competance  \
0  profil  actuellement, étudiant en 3eme année c...         NaN

                          experience_professionnelle  \
0  experiences professionnelles  stagiaire, arab ...

                                           formation  \
0  education  ingénierie en intelligence artifici...

                                             langues  centre  \
0  langues arabe francais anglais  allemand  dist...     NaN

                                             Contact
0  aloulou karim etudiant en ingénierie en ia  * ...
                                             profile  competance  \
0  profil  actuellement, étudiant en 3eme année c...         NaN

                          experience_professionnelle  \
0  experiences professionnelles  stagiaire, arab ...

                                           formation  \
0  education  ingénierie en intelligence artifici...

                             langues  centre  \
0  arab, francais, anglais, allemand     NaN

                                             Contact
0  aloulou karim etudiant en ingénierie en ia  * ...
Driver={ODBC Driver 17 for SQL Server};Server=ISLEM;Database=job_finder;Trusted_Connection=yes;
successfully
Data saved to the database successfully.

In [9]:
df

,profile,competance,experience_professionnelle,formation,langues,centre,Contact,phone number,email,linkedin,extracted_profile
0,"profil actuellement, étudiant en 3eme année c...",None,"experiences professionnelles stagiaire, arab ...",education ingénierie en intelligence artifici...,"arab, francais, anglais, allemand",None,aloulou karim etudiant en ingénierie en ia * ...,20107299,karim.aloulou@esprit.tn,linkedin.com/in/karim-aloulou-,"profil actuellement, étudiant en 3eme année c..."